<include file="Public/commoner"/>
<block name="body">
	<ol class="breadcrumb">
		<li><a href="{:U('Index/summarize')}">首页</a></li>
		<li>产品管理</li>
	</ol>
	<div class="content">
		<div class="Config_nav">
			<ul>
				<li><a href="{:U('Product/index')}">产品管理</a></li>				<li><a class="on" href="{:U('Product/apply')}">案例管理</a></li>
				<li><a href="{:U('Product/add_case',['goodsid' => $_GET['id']])}">添加案例</a></li>
			</ul>
		</div>
		<div class="Search">
			<form action="" method="get">
				<div class="JianSuo">
					<select name="status" id="">
						<option>发布状态</option>
						<option value="1">已发布</option>
						<option value="0">未发布</option>
					</select>
				</div>
				<div class="keyword"><input class="common-text input-text" size="16" placeholder="关键字" name="q" value=""  type="text"></div>
				<div class="btn1"><input class="btn btn-primary btn6 mr10" value="查询" type="submit" /></div>
			</form>
		</div>
		<form action="{:U('Product/sortBatchs')}" name="myform" id="myform" method="post">
			<div class="List">
				<div class="table-list">
					<ul>
						<li class="ID">ID</li>
						<li class="Name">标题</li>
						<li class="Property">所属产品</li>
						<li class="S_Order">排序</li>
						<li class="Status">是否发布</li>
						<li class="Oper">管理操作</li>
					</ul>
				</div>
				<foreach name="lists" item="vo" key="k" >
					<div class="ProList">
						<ul>
							<li class="ID">{$vo.id}</li>
							<li class="Name"><a href="{:U('Product/edit_case',array('id'=>$vo['id']))}">{$vo.title}</a></li>
							<li class="Property">{$vo.goods_name}</li>
							 <li class="S_Order">
								<input type="text" class="sInput" name="sort[{$vo.id}]" value="{$vo.sort}" />
							</li>
							<li class="Status">{$vo[status]==1?'已发布':'<font color=red>未发布</font>'}</li>
							<li class="Oper">
                                <div>
                                	
                                    <a href="{:U('Product/edit_case',array('id'=>$vo['id']))}">编辑</a>                                    <span>|</span>
                                    <a href="{:U('Product/delete_case',array('id'=>$vo['id']))}" onclick="return confirm('确认是否删除?')">删除</a>
                                </div>
							</li>
						</ul>
					</div>
				</foreach>
			   
				<div class="cl" style="margin-top: 15px;"></div>
				<div class="Order_submit">
					<input class="btn btn-primary btn6 mr10" type="submit" value="排序" /><div class="tp_pages">{$page}</div>
				</div>
			</div>
		</form>           
		<include file="Public:copyright"/>
	</div>
</black>